<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue</title>
    <script src="vue.js"></script>
    <style>
        .active{
            border: 10px solid red;
        }
    </style>
</head>
<body>
    <div id="app-1"> 
        <!-- v-text 会替换所有内容-->
        <!-- {{文本插值}} 替换指定内容-->
        <h1> {{msg1}} </h1>
        <h2 v-text="ifm">I'm 20. </h2>
        <h2> {{msg1 + '123'}} I'm 20. </h2>
        
        <!-- v-on -->
        <!-- v-if 操作DOM元素-->
        <input type="button" v-on:click="welcome" value="开始" v-if="num<5">   
        <!-- input标签value属性设置显示内容，button标签直接在中间写-->
        
        <!-- v-html -->
        <p v-html="ifm"></p>
        <div v-text="msg2"></div>
        <div v-html="msg2"></div>
        
        <!-- v-show 修改元素的display-->
        <button @click="sub" v-show="num>0">-</button>
        <span> {{num}} </span>
        <button @click="add" v-show="num<10">+</button>
        <p v-if="num>5">Suuny</p>
        <br>

        <!-- v-bind -->
        <img v-bind:src="imgsrc" alt="" v-bind:title="imgTitle + '!!!' " v-bind:class=" isActive ? 'active' : '' ">
        <!-- 使用对象的方式动态增删class -->
        <img :src="imgsrc" alt="" :title="imgTitle" :class="{active:isActive}" @click="toggleActive">
        <input type="button" value="按钮" title="123">
        <input type="button" value="按钮" title="mytitle">
        <input type="button" value="按钮" v-bind:title="mytitle">
        <br>
        <button @click="prev" v-show="index!=0">上一张</button>
        <img :src="imgArr[index]" style="height: 400px;">
        <button @click="next" v-show="index!=imgArr.length-1">下一张</button>
        <br>

        <!-- v-for -->
        <ul>
            <li v-for="item in arr">
                Hello! {{item}}
            </li>
        </ul>
        <ul>
            <li v-for="(item,index) in arr">
                {{index +1}} Hello! {{item}}
            </li>
        </ul>
        <ul>
            <li v-for="item in vegetables" :title="item.name">
                {{item.name}}
            </li>
        </ul>
        <input type="button" value="加菜" @click="newone">
        <input type="button" value="减菜" @click="remove">
        <input type="button" value="点击" @click="food('rice', 3)">
        
        <!-- v-model -->
        <input type="text" v-model="mesg">
        <p> {{mesg}} </p>

        <!-- v-cloak -->
        <p v-cloak>-------{{msg}}---------</p>
        <h4 v-text="msg">===========</h4>
        
    </div>
    
    <script>
        var vm1 = new Vue({
            el:"#app-1",  //el与id对应
            data:{
                msg1:"Hello,Jackson!",
                ifm:"<h2>How old are you?</h2>",
                num:1,
                isClick:true,
                imgsrc:"images/ldh.jpg",
                imgTitle:"liudahua",
                isActive:false,
                imgArr:[
                    "images/ldh.jpg",
                    "images/zxy.jpg",
                    "images/xihu1.jpg",
                    "images/xihu2.jpg"
                ],
                index:0,
                arr:["Kim","Jack","Luna","Jerry","Amy"],  
                vegetables:[
                    {name:"辣椒炒肉"},
                    {name:"西兰花"}
                ],
                mesg:"面条",
                msg:'123',
                msg2:'<h1>html语句</h1>',
                mytitle:'这是一个自己定义的属性',
            },    
            methods:{
                welcome:function(){
                    this.isClick=false;
                    alert("Nice to meet you!"); 
                },
                sub:function(){
                    if (this.num > 0){  //this关键字
                        this.num-=1
                    }else{
                        alert("已经最小啦");
                    }
                },
                add:function(){
                    if (this.num < 10){
                        this.num++
                    }else{
                        alert("不能再加啦");
                    }
                },
                toggleActive:function(){
                    this.isActive = !this.isActive  //this关键字！
                },
                prev:function(){
                    this.index--;
                },
                next:function(){
                    this.index++;
                },
                newone:function(){
                    this.vegetables.push({name:"西红柿炒蛋"});
                },
                remove:function(){
                    this.vegetables.shift();  //shift()从左边开始删除
                },
                food:function(p1,p2){
                    console.log("noodles");
                    console.log(p1);
                    console.log(p2);
                }
            }
        })
    </script>
</body>
</html>